@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Para ver a lista de veículos, clique <a asp-area="" asp-controller="Vehicles" asp-action="Index"><strong>aqui</strong></a> ou em <strong>Veículos</strong> no menu superior.</p>
</div>
